BACKEND_API_URL="https://staff-registry.dev.openg2p.org"
MASTERDATA_BACKEND_API_URL="https://master-data.dev.openg2p.org"
DEFAULT_LOCALE="en"


PARTNER_IMPORT_EXPORT_ENABLE="true"
PARTNER_INGEST_URL="https://partner-registry.dev.openg2p.org/partner/ingest_data?data_model=dcivc"

VERIFY_SERVICE_URL="https://registry-farmer.dev.openg2p.org/v1/verify"
VP_CLIENT_ID="did:web:registry-farmer.dev.openg2p.org:v1:verify"

PAGE_SIZE=10

IAM_URL="http://iam.openg2p.my"
KEYCLOAK_LOGOUT_URL="https://keycloak.dev.openg2p.org/realms/staff/protocol/openid-connect/logout"
LOGIN_PROVIDER_ID="1"
APPLICATION_MNEMONIC="registry-staff-portal"
COOKIE_DOMAIN=".openg2p.my"
REDIRECT_URL="http://farmer-registry.openg2p.my"
CSP_CONNECT_SRC="https://inji.play.openg2p.org"