IAM_API_URL="http://iam.openg2p.my"
REGISTRY_STAFF_API_URL="https://staff-registry.dev.openg2p.org"
MASTERDATA_API_URL="https://master-data.dev.openg2p.org"
REGISTRY_PARTNER_API_URL="https://partner-farmer-registry-gen2.dev.openg2p.org/partner/ingest_data?data_model=dcivc"

VC_VERIFICATION_SERVICE_URL="https://registry-farmer.dev.openg2p.org/v1/verify"
VP_CLIENT_ID="did:web:registry-farmer.dev.openg2p.org:v1:verify"


PARTNER_IMPORT_EXPORT_ENABLE="true"
PAGE_SIZE=10
LOGIN_PROVIDER_ID="1"
APPLICATION_MNEMONIC="registry-staff-portal"